<div>
  <div>
    <h2>Add your item</h2>
    <input type="text"[(ngModel)]="new_item" ><br>
   
    <br>
   <select [(ngModel)]="whereToAdd">
    <option value="1">First</option>
    <option value="2">Middle</option>
    <option value="3">Last</option>

   </select><br>
  
      <div *ngIf="whereToAdd==2"  >
       <div> At which position you want to add (max position = {{len}} )</div>
        <input type="text"[(ngModel)]="position" >
      </div><br>
      <div>
        {{msg}}
      </div>

  </div>
  <select [(ngModel)]="selectItemName">
    <option *ngFor="let item of list1">{{item}}</option>
  </select>
  <br><br>
  <input type="button" value="Add new item" (click)="add()"><br>
  <!-- <div>
  <img [src]="imagePath" alt="">
  <input type="button" value="Start" (click)="abc()">Next image in 
  {{a}}sec
  </div> -->
  
</div>